.Boxs {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 70px 70px;
  @media (max-width: 1200px) {
    padding: 0 30px 30px;
  }

  &__msg-no-task {
    border-radius: var(--main-border-radius);
    background-color: var(--main-color);
    box-shadow: var(--main-shadow);
    color: white;
    margin: 30px auto;
    padding: 10px 20px;
  }
}
