.Box {
  background-color: var(--main-color);
  box-shadow: var(--main-shadow);
  width: calc(100% / 3 - 20px);
  padding: 5px;
  padding-top: 0;
  border-radius: 10px;

  @media (max-width: 1200px) {
    width: 100%;
    margin-bottom: 30px;
  }

  &__todos {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    min-height: 100px;
  }

  &__msg-drop-here {
    span {
      animation: dropHere 1s infinite;
    }
  }
}

@keyframes dropHere {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
